---
import BaseLayout from './layouts/BaseLayout.astro';
const pageTitle = "Walid El Kaddouri";
---
<BaseLayout pageTitle={pageTitle}>
  <main class="page__content">
    <article class="main-article">

		<section>
				<div class="container">
					<h1 class="header__title">WALID <br> EL KADDOURI</h1>
				</div>
				<div class="buttondiv">
					<button class="button">View my work</button>
				</div>

		</section>

      <section class="intro">
        <h2 class="visually-hidden">intro</h2>
        <p class="intro__text">I'm a <span class="highlight">graphic designer</span> with a strong skillset in innovative and creative designing and art.</p>
      </section>


      <section class="works">
        <h2 class="works__title">My works</h2>
		<article class="myWorks">
			<div class="work1">
				<p>
				asasaasasas
				</p >
				<img src="/src/pages/assets/_DSC99692.png" alt="" width="300">
			</div>

			<div class="work2">
				<p>
				asasaasasas
				</p >
				<img src="/src/pages/assets/_DSC99692.png" alt="" width="300">

			</div>

			<div class="work3">
				<p>
				asasaasasas
				</p >
				<img src="/src/pages/assets/_DSC99692.png" alt="" width="300">

			</div>


		</article>

    
  </main>
  <script src="/src/pages/scripts/script.js"></script>
</BaseLayout>