---
import BaseLayout from './layouts/BaseLayout.astro';
const pageTitle = "Walid El Kaddouri";
---
<BaseLayout pageTitle={pageTitle}>
  <main class="page__content">
    <article class="main-article">

		<section>
				<h1 class="header__title">WALID <br> EL KADDOURI</h1>
				<div class="buttondiv"><button class="button">View my work</button></div>


		</section>

      <section class="intro">
        <h2 class="visually-hidden">intro</h2>
        <p class="intro__text">I'm a graphic designer with a strong skillset in innovative and creative designing and art.</p>
      </section>


      <section class="works">
        <h3>My works</h3>
        <p>
			asasaasasas
        </p>

        <p>
          <strong>Gilbert Maertens</strong> was more impressed by the Belgian businessman, <strong>Paul Claeys</strong>,
          who had inherited the Flandria
          bicycle company. Flandria already sponsored Maertens' club, SWC Torhout, and Maertens rode a Flandria bike.
          Claeys came to the Maertens house with his team manager, <strong>Briek Schotte</strong>, a legend in Belgian
          cycling. Claeys
          offered <strong>Gilbert Maertens</strong> a concession for Flandria bikes, allowing him to sell them without
          first buying them.
          Maertens pushed his son to sign a contract for 40,000 francs a month as an amateur and then double in his
          first
          full year as a professional. The family needed the bike concession because <strong>Silonne Maertens</strong>
          had fallen ill and
          closed her shop.
        </p>

        <p>
          Maertens said: "I would have preferred to go to SCIC and Colnago but my father said, 'You have to do something
          for us too.'"
        </p>

        <p>
          Colnago and Baldini had promised more money and a gentle start as a professional. But with Flandria Maertens
          rode more than 200 road races a year and on the track and in cyclo-cross in the winter. He suffered what he
          called the poor organisation and penny-pinching attitude of Claeys and his Flandria company. He also
          complained about the weight of Flandria frames; rather than ride them, he had his frames made in Italy, by
          Gios
          Torino, and had them painted in Flandria colours.
        </p>

        <p>
          He was never paid in 1979, his last season with Flandria, which had failed. It was the start of financial
          troubles with tax officials.
        </p>

        <p>
          <strong>Rik Van Wallaghem</strong> says Maertens' was naïve as a new professional. Belgian racing was
          dominated by <strong>Eddy Merckx</strong>
          and <strong>Roger De Vlaeminck</strong>. Maertens did not observe an unwritten rule that new professionals
          establish themselves
          gradually and not try to humiliate established riders. Instead, Maertens, just 21, charged in and upset
          everyone
          by demanding they make room for him and make room quickly". What Van Wallaghem saw as his blunder was
          greeted, he said, by Belgian journalists eager to write of something else after years of Merckx's
          international
          domination. That worsened relations between them.
        </p>
      </section>

      <section class="financial">
        <h3>Financial problems</h3>
        <p>
          Maertens and his wife were naïve about money. <strong>Carine Maertens</strong> said money "flooded in" when
          her husband
          reached the top as a professional. Maertens estimated his earnings throughout his career as 10-15 million
          French
          francs, "which was a lot of money in the 1970s".
        </p>
        <p><strong>Carine Maertens</strong> said: "We let ourselves be sweet-talked by sponsors, team directors,
          managers,
          architects,
          accountants, tax advisers, bankers, investment advisers, doctors. We believed all these people. We believed
          them
          because they dressed well and they’d been to school and they could talk well. We had no experience with money,
          fame, celebrity. We built far too large a villa, we borrowed money until we were raw, we invested in
          businesses
          we knew nothing about. We were honest people who trusted others, who never knew there was such nastiness in
          the
          world. By the time we realised what was happening, our bank accounts had been plundered. We had a chic villa
          and
          not a franc between us". knew nothing about. We were honest people who trusted others, who never knew
          there
          was such nastiness in
          the
          world. By the time we realised what was happening, our bank accounts had been plundered. We had a chic villa
          and
          not a franc between us".
        </p>

        <p>
          The Flandria team was riding the Giro d'Italia when it heard rumours of trouble at the Flandria company. He
          received only half his salary in 1978 and none of the cash to be paid without its being registered in the
          accounts. In 1979, he was not paid at all. He lost money entrusted to others to invest, including 500 000
          francs in the Flandria Ranch, run by his sponsor. He also lost 750 000 francs in a furniture business which
          burned down. By then he was being challenged by the tax authorities. He won little of significance. He said
          he was riding for nothing during the day and spending every evening with lawyers. He still disputes the tax
          that
          the government demanded. He and his wife lost their house, their car and their furniture.
        </p>

        <p>
          He owed interest on interest and lost all he had. He calculated his tax bill at 30 million francs. He insisted
          he owed 1.5 million francs. He spent long periods without a job and without
          unemployment benefit and his wife cleaned houses. The problems lasted 30 years. They ended on 10 June 2011.
          He felt so bitter about <strong>Paul Claeys</strong> - "not a good guy; he promised and promised and...” -
          that he refused to
          attend his funeral in 2012.
        </p>
      </section>
      <section class="style">
        <h3>Riding style</h3>
        <p>
          Maertens was an aggressive rider who pushed high gears. He frequently rode 53 x 13 or 14. He was a talented
          time-triallist and an excellent sprinter. He nurtured another sprinter <strong>Sean Kelly</strong>. His
          time-trial record
          includes winning the Grand Prix des Nations in 1976.
        </p>
      </section>
      <aside class="awards">
        <h3>Awards and honours</h3>
        <ul class="awards__list">
          <li>Ruban Jaune: 1975</li>
          <li>Gan Challenge: 1976, 1977</li>
          <li>Swiss Mendrisio d'Or: 1976</li>
          <li>Belgian Sportsman of the Year: 1981, Runner-up: 1976 </li>
          <li>Introduced in the UCI Hall of Fame: 2002</li>
          <li>Memoire du Cyclisme - 20th Greatest Cyclist of all Time: 2002</li>
          <li>Honorary Citizen of Middelkerke: 2004</li>
          <li>Bust in Lombardsijde: 2005</li>
          <li>CyclingNews 10th Sprinter of All Time: 2011</li>
          <li>UCI Top 100 of All Time: 3,955 points</li>
          <li>Procyclingstats.com - All Time Wins Ranking: 10th place (147 wins)</li>
        </ul>
      </aside>
    </article>
  </main>
  <footer class="page__footer">
    <p>Flandriens</p>
  </footer>
    
  </main>
</BaseLayout>